/* line 1, ../sass/partials/_prettyphoto.scss */
div.pp_default .pp_top, div.pp_default .pp_top .pp_middle, div.pp_default .pp_top .pp_left, div.pp_default .pp_top .pp_right, div.pp_default .pp_bottom, div.pp_default .pp_bottom .pp_left, div.pp_default .pp_bottom .pp_middle, div.pp_default .pp_bottom .pp_right {
  height: 13px; }

/* line 2, ../sass/partials/_prettyphoto.scss */
div.pp_default .pp_top .pp_left {
  background: url(../images/prettyPhoto/default/sprite.png) -78px -93px no-repeat; }

/* line 3, ../sass/partials/_prettyphoto.scss */
div.pp_default .pp_top .pp_middle {
  background: url(../images/prettyPhoto/default/sprite_x.png) top left repeat-x; }

/* line 4, ../sass/partials/_prettyphoto.scss */
div.pp_default .pp_top .pp_right {
  background: url(../images/prettyPhoto/default/sprite.png) -112px -93px no-repeat; }

/* line 5, ../sass/partials/_prettyphoto.scss */
div.pp_default .pp_content .ppt {
  color: #f8f8f8; }

/* line 6, ../sass/partials/_prettyphoto.scss */
div.pp_default .pp_content_container .pp_left {
  background: url(../images/prettyPhoto/default/sprite_y.png) -7px 0 repeat-y;
  padding-left: 13px; }

/* line 7, ../sass/partials/_prettyphoto.scss */
div.pp_default .pp_content_container .pp_right {
  background: url(../images/prettyPhoto/default/sprite_y.png) top right repeat-y;
  padding-right: 13px; }

/* line 8, ../sass/partials/_prettyphoto.scss */
div.pp_default .pp_next:hover {
  background: url(../images/prettyPhoto/default/sprite_next.png) center right no-repeat;
  cursor: pointer; }

/* line 9, ../sass/partials/_prettyphoto.scss */
div.pp_default .pp_previous:hover {
  background: url(../images/prettyPhoto/default/sprite_prev.png) center left no-repeat;
  cursor: pointer; }

/* line 10, ../sass/partials/_prettyphoto.scss */
div.pp_default .pp_expand {
  background: url(../images/prettyPhoto/default/sprite.png) 0 -29px no-repeat;
  cursor: pointer;
  height: 28px;
  width: 28px; }

/* line 11, ../sass/partials/_prettyphoto.scss */
div.pp_default .pp_expand:hover {
  background: url(../images/prettyPhoto/default/sprite.png) 0 -56px no-repeat;
  cursor: pointer; }

/* line 12, ../sass/partials/_prettyphoto.scss */
div.pp_default .pp_contract {
  background: url(../images/prettyPhoto/default/sprite.png) 0 -84px no-repeat;
  cursor: pointer;
  height: 28px;
  width: 28px; }

/* line 13, ../sass/partials/_prettyphoto.scss */
div.pp_default .pp_contract:hover {
  background: url(../images/prettyPhoto/default/sprite.png) 0 -113px no-repeat;
  cursor: pointer; }

/* line 14, ../sass/partials/_prettyphoto.scss */
div.pp_default .pp_close {
  background: url(../images/prettyPhoto/default/sprite.png) 2px 1px no-repeat;
  cursor: pointer;
  height: 30px;
  width: 30px; }

/* line 15, ../sass/partials/_prettyphoto.scss */
div.pp_default .pp_gallery ul li a {
  background: url(../images/prettyPhoto/default/default_thumb.png) center center #f8f8f8;
  border: 1px solid #aaa; }

/* line 16, ../sass/partials/_prettyphoto.scss */
div.pp_default .pp_social {
  margin-top: 7px; }

/* line 17, ../sass/partials/_prettyphoto.scss */
div.pp_default .pp_gallery a.pp_arrow_previous, div.pp_default .pp_gallery a.pp_arrow_next {
  left: auto;
  position: static; }

/* line 18, ../sass/partials/_prettyphoto.scss */
div.pp_default .pp_nav .pp_play, div.pp_default .pp_nav .pp_pause {
  background: url(../images/prettyPhoto/default/sprite.png) -51px 1px no-repeat;
  height: 30px;
  width: 30px; }

/* line 19, ../sass/partials/_prettyphoto.scss */
div.pp_default .pp_nav .pp_pause {
  background-position: -51px -29px; }

/* line 20, ../sass/partials/_prettyphoto.scss */
div.pp_default a.pp_arrow_previous, div.pp_default a.pp_arrow_next {
  background: url(../images/prettyPhoto/default/sprite.png) -31px -3px no-repeat;
  height: 20px;
  margin: 4px 0 0;
  width: 20px; }

/* line 21, ../sass/partials/_prettyphoto.scss */
div.pp_default a.pp_arrow_next {
  background-position: -82px -3px;
  left: 52px; }

/* line 22, ../sass/partials/_prettyphoto.scss */
div.pp_default .pp_content_container .pp_details {
  margin-top: 5px; }

/* line 23, ../sass/partials/_prettyphoto.scss */
div.pp_default .pp_nav {
  clear: none;
  height: 30px;
  position: relative;
  width: 110px; }

/* line 24, ../sass/partials/_prettyphoto.scss */
div.pp_default .pp_nav .currentTextHolder {
  color: #999;
  font-family: Georgia;
  font-size: 11px;
  font-style: italic;
  left: 75px;
  line-height: 25px;
  margin: 0;
  padding: 0 0 0 10px;
  position: absolute;
  top: 2px; }

/* line 25, ../sass/partials/_prettyphoto.scss */
div.pp_default .pp_close:hover, div.pp_default .pp_nav .pp_play:hover, div.pp_default .pp_nav .pp_pause:hover, div.pp_default .pp_arrow_next:hover, div.pp_default .pp_arrow_previous:hover {
  opacity: 0.7; }

/* line 26, ../sass/partials/_prettyphoto.scss */
div.pp_default .pp_description {
  font-size: 11px;
  font-weight: 700;
  line-height: 14px;
  margin: 5px 50px 5px 0; }

/* line 27, ../sass/partials/_prettyphoto.scss */
div.pp_default .pp_bottom .pp_left {
  background: url(../images/prettyPhoto/default/sprite.png) -78px -127px no-repeat; }

/* line 28, ../sass/partials/_prettyphoto.scss */
div.pp_default .pp_bottom .pp_middle {
  background: url(../images/prettyPhoto/default/sprite_x.png) bottom left repeat-x; }

/* line 29, ../sass/partials/_prettyphoto.scss */
div.pp_default .pp_bottom .pp_right {
  background: url(../images/prettyPhoto/default/sprite.png) -112px -127px no-repeat; }

/* line 30, ../sass/partials/_prettyphoto.scss */
div.pp_default .pp_loaderIcon {
  background: url(../images/prettyPhoto/default/loader.gif) center center no-repeat; }

/* line 33, ../sass/partials/_prettyphoto.scss */
div.pp_pic_holder a:focus {
  outline: none; }

/* line 34, ../sass/partials/_prettyphoto.scss */
div.pp_overlay {
  background: #000;
  display: none;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9500; }

/* line 35, ../sass/partials/_prettyphoto.scss */
div.pp_pic_holder {
  display: none;
  position: absolute;
  width: 100px;
  z-index: 10000; }

/* line 36, ../sass/partials/_prettyphoto.scss */
.pp_content {
  height: 40px;
  min-width: 40px; }

/* line 37, ../sass/partials/_prettyphoto.scss */
* html .pp_content {
  width: 40px; }

/* line 38, ../sass/partials/_prettyphoto.scss */
.pp_content_container {
  position: relative;
  text-align: left;
  width: 100%; }

/* line 39, ../sass/partials/_prettyphoto.scss */
.pp_content_container .pp_left {
  padding-left: 20px; }

/* line 40, ../sass/partials/_prettyphoto.scss */
.pp_content_container .pp_right {
  padding-right: 20px; }

/* line 41, ../sass/partials/_prettyphoto.scss */
.pp_content_container .pp_details {
  float: left;
  margin: 10px 0 2px; }

/* line 42, ../sass/partials/_prettyphoto.scss */
.pp_description {
  display: none;
  margin: 0; }

/* line 43, ../sass/partials/_prettyphoto.scss */
.pp_social {
  float: left;
  margin: 0; }

/* line 44, ../sass/partials/_prettyphoto.scss */
.pp_social .facebook {
  float: left;
  margin-left: 5px;
  overflow: hidden;
  width: 55px; }

/* line 45, ../sass/partials/_prettyphoto.scss */
.pp_social .twitter {
  float: left; }

/* line 46, ../sass/partials/_prettyphoto.scss */
.pp_nav {
  clear: right;
  float: left;
  margin: 3px 10px 0 0; }

/* line 47, ../sass/partials/_prettyphoto.scss */
.pp_nav p {
  float: left;
  margin: 2px 4px;
  white-space: nowrap; }

/* line 48, ../sass/partials/_prettyphoto.scss */
.pp_nav .pp_play, .pp_nav .pp_pause {
  float: left;
  margin-right: 4px;
  text-indent: -10000px; }

/* line 49, ../sass/partials/_prettyphoto.scss */
a.pp_arrow_previous, a.pp_arrow_next {
  display: block;
  float: left;
  height: 15px;
  margin-top: 3px;
  overflow: hidden;
  text-indent: -10000px;
  width: 14px; }

/* line 50, ../sass/partials/_prettyphoto.scss */
.pp_hoverContainer {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2000; }

/* line 51, ../sass/partials/_prettyphoto.scss */
.pp_gallery {
  display: none;
  left: 50%;
  margin-top: -50px;
  position: absolute;
  z-index: 10000; }

/* line 52, ../sass/partials/_prettyphoto.scss */
.pp_gallery div {
  float: left;
  overflow: hidden;
  position: relative; }

/* line 53, ../sass/partials/_prettyphoto.scss */
.pp_gallery ul {
  float: left;
  height: 35px;
  margin: 0 0 0 5px;
  padding: 0;
  position: relative;
  white-space: nowrap; }

/* line 54, ../sass/partials/_prettyphoto.scss */
.pp_gallery ul a {
  border: 1px rgba(0, 0, 0, 0.5) solid;
  display: block;
  float: left;
  height: 33px;
  overflow: hidden; }

/* line 55, ../sass/partials/_prettyphoto.scss */
.pp_gallery ul a img {
  border: 0; }

/* line 56, ../sass/partials/_prettyphoto.scss */
.pp_gallery li {
  display: block;
  float: left;
  margin: 0 5px 0 0;
  padding: 0; }

/* line 57, ../sass/partials/_prettyphoto.scss */
.pp_gallery li.default a {
  background: url(../images/prettyPhoto/facebook/default_thumbnail.gif) 0 0 no-repeat;
  display: block;
  height: 33px;
  width: 50px; }

/* line 58, ../sass/partials/_prettyphoto.scss */
.pp_gallery .pp_arrow_previous, .pp_gallery .pp_arrow_next {
  margin-top: 7px!important; }

/* line 59, ../sass/partials/_prettyphoto.scss */
a.pp_next {
  background: url(../images/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;
  display: block;
  float: right;
  height: 100%;
  text-indent: -10000px;
  width: 49%; }

/* line 60, ../sass/partials/_prettyphoto.scss */
a.pp_previous {
  background: url(../images/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;
  display: block;
  float: left;
  height: 100%;
  text-indent: -10000px;
  width: 49%; }

/* line 61, ../sass/partials/_prettyphoto.scss */
a.pp_expand, a.pp_contract {
  cursor: pointer;
  display: none;
  height: 20px;
  position: absolute;
  right: 30px;
  text-indent: -10000px;
  top: 10px;
  width: 20px;
  z-index: 20000; }

/* line 62, ../sass/partials/_prettyphoto.scss */
a.pp_close {
  display: block;
  line-height: 22px;
  position: absolute;
  right: 0;
  text-indent: -10000px;
  top: 0; }

/* line 63, ../sass/partials/_prettyphoto.scss */
.pp_loaderIcon {
  display: block;
  height: 24px;
  left: 50%;
  margin: -12px 0 0 -12px;
  position: absolute;
  top: 50%;
  width: 24px; }

/* line 64, ../sass/partials/_prettyphoto.scss */
#pp_full_res {
  line-height: 1!important; }

/* line 65, ../sass/partials/_prettyphoto.scss */
#pp_full_res .pp_inline {
  text-align: left; }

/* line 66, ../sass/partials/_prettyphoto.scss */
#pp_full_res .pp_inline p {
  margin: 0 0 15px; }

/* line 67, ../sass/partials/_prettyphoto.scss */
div.ppt {
  color: #fff;
  display: none;
  font-size: 17px;
  margin: 0 0 5px 15px;
  z-index: 9999; }

/* line 68, ../sass/partials/_prettyphoto.scss */
div.pp_default .pp_content, div.light_rounded .pp_content {
  background-color: #fff; }

/* line 69, ../sass/partials/_prettyphoto.scss */
div.pp_default #pp_full_res .pp_inline, div.light_rounded .pp_content .ppt, div.light_rounded #pp_full_res .pp_inline, div.light_square .pp_content .ppt, div.light_square #pp_full_res .pp_inline, div.facebook .pp_content .ppt, div.facebook #pp_full_res .pp_inline {
  color: #000; }

/* line 70, ../sass/partials/_prettyphoto.scss */
div.pp_default .pp_gallery ul li a:hover, div.pp_default .pp_gallery ul li.selected a, .pp_gallery ul a:hover, .pp_gallery li.selected a {
  border-color: #fff; }

/* line 71, ../sass/partials/_prettyphoto.scss */
div.pp_default .pp_details, div.light_rounded .pp_details, div.dark_rounded .pp_details, div.dark_square .pp_details, div.light_square .pp_details, div.facebook .pp_details {
  position: relative; }

/* line 72, ../sass/partials/_prettyphoto.scss */
div.light_rounded .pp_top .pp_middle, div.light_rounded .pp_content_container .pp_left, div.light_rounded .pp_content_container .pp_right, div.light_rounded .pp_bottom .pp_middle, div.light_square .pp_left, div.light_square .pp_middle, div.light_square .pp_right, div.light_square .pp_content, div.facebook .pp_content {
  background: #fff; }

/* line 73, ../sass/partials/_prettyphoto.scss */
div.light_rounded .pp_description, div.light_square .pp_description {
  margin-right: 85px; }

/* line 74, ../sass/partials/_prettyphoto.scss */
div.light_rounded .pp_gallery a.pp_arrow_previous, div.light_rounded .pp_gallery a.pp_arrow_next, div.dark_rounded .pp_gallery a.pp_arrow_previous, div.dark_rounded .pp_gallery a.pp_arrow_next, div.dark_square .pp_gallery a.pp_arrow_previous, div.dark_square .pp_gallery a.pp_arrow_next, div.light_square .pp_gallery a.pp_arrow_previous, div.light_square .pp_gallery a.pp_arrow_next {
  margin-top: 12px!important; }

/* line 75, ../sass/partials/_prettyphoto.scss */
div.light_rounded .pp_arrow_previous.disabled, div.dark_rounded .pp_arrow_previous.disabled, div.dark_square .pp_arrow_previous.disabled, div.light_square .pp_arrow_previous.disabled {
  background-position: 0 -87px;
  cursor: default; }

/* line 76, ../sass/partials/_prettyphoto.scss */
div.light_rounded .pp_arrow_next.disabled, div.dark_rounded .pp_arrow_next.disabled, div.dark_square .pp_arrow_next.disabled, div.light_square .pp_arrow_next.disabled {
  background-position: -22px -87px;
  cursor: default; }

/* line 77, ../sass/partials/_prettyphoto.scss */
div.light_rounded .pp_loaderIcon, div.light_square .pp_loaderIcon {
  background: url(../images/prettyPhoto/light_rounded/loader.gif) center center no-repeat; }

/* line 78, ../sass/partials/_prettyphoto.scss */
div.dark_rounded .pp_top .pp_middle, div.dark_rounded .pp_content, div.dark_rounded .pp_bottom .pp_middle {
  background: url(../images/prettyPhoto/dark_rounded/contentPattern.png) top left repeat; }

/* line 79, ../sass/partials/_prettyphoto.scss */
div.dark_rounded .currentTextHolder, div.dark_square .currentTextHolder {
  color: #c4c4c4; }

/* line 80, ../sass/partials/_prettyphoto.scss */
div.dark_rounded #pp_full_res .pp_inline, div.dark_square #pp_full_res .pp_inline {
  color: #fff; }

/* line 81, ../sass/partials/_prettyphoto.scss */
.pp_top, .pp_bottom {
  height: 20px;
  position: relative; }

/* line 82, ../sass/partials/_prettyphoto.scss */
* html .pp_top, * html .pp_bottom {
  padding: 0 20px; }

/* line 83, ../sass/partials/_prettyphoto.scss */
.pp_top .pp_left, .pp_bottom .pp_left {
  height: 20px;
  left: 0;
  position: absolute;
  width: 20px; }

/* line 84, ../sass/partials/_prettyphoto.scss */
.pp_top .pp_middle, .pp_bottom .pp_middle {
  height: 20px;
  left: 20px;
  position: absolute;
  right: 20px; }

/* line 85, ../sass/partials/_prettyphoto.scss */
* html .pp_top .pp_middle, * html .pp_bottom .pp_middle {
  left: 0;
  position: static; }

/* line 86, ../sass/partials/_prettyphoto.scss */
.pp_top .pp_right, .pp_bottom .pp_right {
  height: 20px;
  left: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px; }

/* line 87, ../sass/partials/_prettyphoto.scss */
.pp_fade, .pp_gallery li.default a img {
  display: none; }

/* line 1, ../sass/partials/_layout.scss */
.container {
  width: 960px;
  margin: 0 auto; }

/* line 5, ../sass/partials/_layout.scss */
.section {
  margin-bottom: 120px; }

/* line 8, ../sass/partials/_layout.scss */
.row {
  overflow: hidden;
  *zoom: 1; }

/* line 11, ../sass/partials/_layout.scss */
.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11 {
  margin-right: 60px;
  float: left; }
  /* line 14, ../sass/partials/_layout.scss */
  .span1.last, .span2.last, .span3.last, .span4.last, .span5.last, .span6.last, .span7.last, .span8.last, .span9.last, .span10.last, .span11.last {
    margin-right: 0; }

/* line 18, ../sass/partials/_layout.scss */
.span3 {
  width: 195px; }

/* line 21, ../sass/partials/_layout.scss */
.span4 {
  width: 280px; }

/* line 24, ../sass/partials/_layout.scss */
.span6 {
  width: 450px; }

/* line 27, ../sass/partials/_layout.scss */
.span8 {
  width: 620px; }

/* line 1, ../sass/partials/_base.scss */
body {
  color: #574742;
  background: url("../images/bg.png"); }

/* line 5, ../sass/partials/_base.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 10, ../sass/partials/_base.scss */
a {
  color: #eb5f3a;
  font-weight: bold;
  text-decoration: none; }
  /* line 14, ../sass/partials/_base.scss */
  a:link {
    color: #eb5f3a; }
  /* line 17, ../sass/partials/_base.scss */
  a:visited {
    color: #e1947e; }
  /* line 20, ../sass/partials/_base.scss */
  a:hover {
    color: #eb5f3a;
    text-decoration: underline; }
  /* line 24, ../sass/partials/_base.scss */
  a:active {
    color: #eb5f3a; }

/* line 1, ../sass/partials/_typography.scss */
body {
  font-family: "Proxima Nova Soft", "Helvetica Neue", "Arial", sans-serif; }

/* line 4, ../sass/partials/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px 0; }

/* line 7, ../sass/partials/_typography.scss */
h1 {
  font-size: 72px; }

/* line 10, ../sass/partials/_typography.scss */
h2 {
  font-size: 48px; }

/* line 13, ../sass/partials/_typography.scss */
h3 {
  font-size: 36px;
  position: relative;
  text-align: center;
  z-index: 20; }
  /* line 18, ../sass/partials/_typography.scss */
  h3:before {
    content: " ";
    display: block;
    height: 1px;
    width: 960px;
    background: #bcaaa4;
    position: absolute;
    top: 50%;
    z-index: -10; }
  /* line 28, ../sass/partials/_typography.scss */
  h3:after {
    content: " ";
    display: block;
    background: url("../images/bg.png");
    height: 100%;
    top: 0;
    left: 50%;
    position: absolute;
    z-index: -5; }
  /* line 38, ../sass/partials/_typography.scss */
  .top h3:after {
    width: 640px;
    margin-left: -320px; }
  /* line 42, ../sass/partials/_typography.scss */
  .order h3:after {
    width: 780px;
    margin-left: -390px; }
  /* line 46, ../sass/partials/_typography.scss */
  .about h3:after {
    width: 320px;
    margin-left: -160px; }
  /* line 50, ../sass/partials/_typography.scss */
  .testimonials h3:after {
    width: 410px;
    margin-left: -205px; }

/* line 55, ../sass/partials/_typography.scss */
h4 {
  font-size: 24px; }

/* line 58, ../sass/partials/_typography.scss */
h5 {
  font-size: 16px; }

/* line 61, ../sass/partials/_typography.scss */
p {
  font-size: 20px;
  line-height: 1.6;
  margin: 0 0 20px 0; }

/* line 66, ../sass/partials/_typography.scss */
p.small {
  font-size: 14px; }

/* line 69, ../sass/partials/_typography.scss */
.step p {
  font-family: "Pacifico", Georgia, serif;
  font-size: 18px; }

/* line 1, ../sass/partials/_modules.scss */
.social {
  display: table;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -ms-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.15), 0 1px 0 white;
  -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.15), 0 1px 0 white;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.15), 0 1px 0 white;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px 0px 5px 40px;
  margin: 0 auto;
  /*	position:fixed;
  	left:10px;
  	top:0px;*/ }
  /* line 11, ../sass/partials/_modules.scss */
  .social div {
    display: block;
    float: left;
    margin-right: 10px;
    width: 90px;
    overflow: hidden; }
    /* line 19, ../sass/partials/_modules.scss */
    .social div.facebook {
      margin-right: 20px; }

/* line 26, ../sass/partials/_modules.scss */
.hn-message {
  width: 100%;
  background: #F60;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 10px 0;
  text-align: center;
  color: white;
  line-height: 1.5; }
  /* line 34, ../sass/partials/_modules.scss */
  .hn-message .container {
    width: 1000px; }
  /* line 37, ../sass/partials/_modules.scss */
  .hn-message p {
    font-size: 14px;
    margin-bottom: 0px; }
  /* line 41, ../sass/partials/_modules.scss */
  .hn-message p.intro {
    font-size: 18px; }

/* line 45, ../sass/partials/_modules.scss */
.hn-link {
  width: 400px;
  padding: 30px;
  background: #fff;
  margin: 200px auto;
  text-align: center; }

/* line 52, ../sass/partials/_modules.scss */
header {
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center; }
  /* line 56, ../sass/partials/_modules.scss */
  header .title {
    font-size: 72px;
    color: white;
    background: #eb5f3a;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
    height: 120px;
    line-height: 112px;
    width: 840px;
    margin: 0 auto 10px auto; }
  /* line 66, ../sass/partials/_modules.scss */
  header .tagline {
    font-size: 24px;
    font-weight: normal; }
    /* line 69, ../sass/partials/_modules.scss */
    header .tagline a, header .tagline a:link, header .tagline a:hover, header .tagline a:visited {
      color: #574742;
      font-weight: normal; }

/* line 75, ../sass/partials/_modules.scss */
.steps {
  text-align: center;
  margin-bottom: 60px; }
  /* line 79, ../sass/partials/_modules.scss */
  .steps .step h4 {
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 10px; }
  /* line 85, ../sass/partials/_modules.scss */
  .steps .step a.screenshot {
    display: block;
    width: 195px;
    height: 145px;
    position: relative;
    margin-bottom: 10px; }
    /* line 91, ../sass/partials/_modules.scss */
    .steps .step a.screenshot img {
      width: 215px;
      height: 165px;
      position: absolute;
      top: -10px;
      left: -10px; }
  /* line 100, ../sass/partials/_modules.scss */
  .steps p {
    color: #eb5f3a; }

/* line 104, ../sass/partials/_modules.scss */
.inside {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);
  padding: 25px;
  border: 1px solid #dddad3;
  position: relative;
  font-size: 14px; }
  /* line 111, ../sass/partials/_modules.scss */
  .inside h4 {
    position: absolute;
    background: url("../images/bg.png");
    font-size: 16px;
    text-transform: uppercase;
    left: 50%;
    padding: 10px;
    top: -20px;
    margin: 0;
    margin-left: -71px; }
  /* line 122, ../sass/partials/_modules.scss */
  .inside ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
    /* line 126, ../sass/partials/_modules.scss */
    .inside ul li {
      background: url("../images/triangle.png") no-repeat left 4px;
      padding-left: 15px;
      margin-bottom: 20px; }
      /* line 130, ../sass/partials/_modules.scss */
      .inside ul li:last-child {
        margin: 0; }
  /* line 135, ../sass/partials/_modules.scss */
  .inside a.preview {
    text-align: center;
    font-size: 20px;
    display: table;
    margin: 0 auto;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border-radius: 25px;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    background: white;
    -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.35);
    margin-top: 20px; }
    /* line 147, ../sass/partials/_modules.scss */
    .inside a.preview:hover {
      background: #eb5f3a;
      color: white;
      text-decoration: none; }

/* line 155, ../sass/partials/_modules.scss */
.order .limited {
  display: inline-block;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.35); }
/* line 159, ../sass/partials/_modules.scss */
.order table {
  background: white;
  width: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.35); }
  /* line 164, ../sass/partials/_modules.scss */
  .order table td, .order table th {
    width: 50%; }
  /* line 167, ../sass/partials/_modules.scss */
  .order table .damn-you-firefox-bug {
    position: relative; }
  /* line 170, ../sass/partials/_modules.scss */
  .order table th {
    border-bottom: 1px dotted #574742;
    text-align: center; }
    /* line 173, ../sass/partials/_modules.scss */
    .order table th h4 {
      margin: 0;
      height: 40px;
      line-height: 40px; }
    /* line 178, ../sass/partials/_modules.scss */
    .order table th .intro-price {
      position: absolute;
      top: -7px;
      right: 20px;
      background: url("../images/price-bg.png");
      display: block;
      height: 55px;
      width: 105px;
      text-align: center;
      line-height: 1;
      padding: 10px;
      -webkit-transform: rotate(10deg);
      -moz-transform: rotate(10deg);
      -ms-transform: rotate(10deg);
      -o-transform: rotate(10deg);
      transform: rotate(10deg); }
      /* line 190, ../sass/partials/_modules.scss */
      .order table th .intro-price .label {
        margin-bottom: 2px;
        display: block;
        font-size: 12px;
        text-transform: uppercase; }
      /* line 196, ../sass/partials/_modules.scss */
      .order table th .intro-price .price {
        display: block;
        color: #eb5f3a;
        font-size: 24px; }
  /* line 203, ../sass/partials/_modules.scss */
  .order table th:first-child, .order table td:first-child {
    border-right: 1px dotted #574742; }
  /* line 206, ../sass/partials/_modules.scss */
  .order table ul.formats {
    overflow: hidden;
    float: left;
    padding: 0;
    margin: 15px 0px 15px 20px; }
    /* line 211, ../sass/partials/_modules.scss */
    .order table ul.formats li {
      display: block;
      float: left;
      width: 47px;
      height: 63px;
      line-height: 70px;
      text-align: center;
      font-size: 14px;
      margin-right: 58px;
      position: relative; }
      /* line 221, ../sass/partials/_modules.scss */
      .order table ul.formats li.pdf, .order table ul.formats li.epub {
        background: url("../images/file.png") no-repeat; }
      /* line 224, ../sass/partials/_modules.scss */
      .order table ul.formats li.png {
        background: url("../images/files.png") no-repeat;
        padding-left: 5px; }
      /* line 228, ../sass/partials/_modules.scss */
      .order table ul.formats li.psd {
        background: url("../images/file-red.png") no-repeat;
        color: #eb5f3a; }
        /* line 231, ../sass/partials/_modules.scss */
        .order table ul.formats li.psd:before {
          color: #eb5f3a; }
      /* line 235, ../sass/partials/_modules.scss */
      .order table ul.formats li:before {
        content: "+";
        display: block;
        position: absolute;
        top: 0px;
        left: -37px;
        font-size: 24px;
        font-weight: bold; }
      /* line 244, ../sass/partials/_modules.scss */
      .order table ul.formats li:last-child {
        margin-right: 0; }
  /* line 249, ../sass/partials/_modules.scss */
  .order table .deluxe ul.formats li {
    /*			margin-right:23px;
    			&:last-child{
    				margin-right:0;
    			}
    			&:before{
    				left:-17px;
    			}*/ }
  /* line 258, ../sass/partials/_modules.scss */
  .order table .buy {
    display: block;
    float: right;
    text-align: center;
    background: #eb5f3a;
    color: white;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border-radius: 25px;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    padding: 0 10px;
    height: 50px;
    width: 160px;
    line-height: 50px;
    margin: 20px; }
    /* line 273, ../sass/partials/_modules.scss */
    .order table .buy:hover {
      text-decoration: none;
      background: #574742; }
/* line 279, ../sass/partials/_modules.scss */
.order .details {
  overflow: hidden; }
  /* line 281, ../sass/partials/_modules.scss */
  .order .details p {
    float: left;
    margin: 0;
    font-size: 14px;
    text-align: center;
    width: 480px;
    padding-top: 10px; }

/* line 291, ../sass/partials/_modules.scss */
.options {
  background: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.35);
  padding: 20px;
  text-align: center;
  position: absolute;
  top: 75px;
  right: -20px;
  width: 240px;
  z-index: 1001; }
  /* line 302, ../sass/partials/_modules.scss */
  .options p {
    margin: 0; }
  /* line 305, ../sass/partials/_modules.scss */
  .options:after {
    content: " ";
    display: block;
    position: absolute;
    top: -10px;
    right: 110px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white; }

/* line 318, ../sass/partials/_modules.scss */
.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1000;
  top: 0;
  left: 0; }

/* line 328, ../sass/partials/_modules.scss */
.bio .photo {
  display: block;
  float: left; }
/* line 332, ../sass/partials/_modules.scss */
.bio p {
  margin-left: 160px; }

/* line 337, ../sass/partials/_modules.scss */
.articles p {
  font-size: 16px;
  margin-bottom: 15px; }
/* line 341, ../sass/partials/_modules.scss */
.articles ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  /* line 345, ../sass/partials/_modules.scss */
  .articles ul li {
    margin-bottom: 15px;
    font-size: 14px; }

/* line 353, ../sass/partials/_modules.scss */
.testimonials .testimonial blockquote {
  background: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 15px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  display: block;
  margin: 0 0 10px 0; }
  /* line 360, ../sass/partials/_modules.scss */
  .testimonials .testimonial blockquote:before {
    content: "«"; }
  /* line 363, ../sass/partials/_modules.scss */
  .testimonials .testimonial blockquote:after {
    content: "»"; }
/* line 367, ../sass/partials/_modules.scss */
.testimonials .testimonial .source {
  overflow: hidden; }
  /* line 369, ../sass/partials/_modules.scss */
  .testimonials .testimonial .source .photo {
    float: left;
    display: block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), 0 1px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), 0 1px 3px rgba(0, 0, 0, 0.35);
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), 0 1px 3px rgba(0, 0, 0, 0.35);
    border: 1px solid rgba(0, 0, 0, 0.8);
    margin-bottom: 5px; }
    /* line 376, ../sass/partials/_modules.scss */
    .testimonials .testimonial .source .photo img {
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
      display: block;
      height: 50px;
      width: 50px;
      position: relative;
      z-index: -1; }
  /* line 385, ../sass/partials/_modules.scss */
  .testimonials .testimonial .source .name {
    padding-top: 3px;
    margin-left: 60px;
    margin-bottom: 5px;
    line-height: 1; }
  /* line 391, ../sass/partials/_modules.scss */
  .testimonials .testimonial .source .job {
    display: block;
    margin-left: 60px;
    font-size: 14px; }

/* line 399, ../sass/partials/_modules.scss */
.unicorn {
  margin-top: 600px; }
  /* line 401, ../sass/partials/_modules.scss */
  .unicorn ul.insults {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    height: 60px;
    background: white;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
    line-height: 60px;
    padding: 0 10px 0 30px;
    display: table;
    margin: 0 auto;
    list-style-type: none; }
    /* line 411, ../sass/partials/_modules.scss */
    .unicorn ul.insults li {
      display: inline-block;
      font-size: 24px;
      font-weight: bold; }
      /* line 415, ../sass/partials/_modules.scss */
      .unicorn ul.insults li .twitter {
        display: inline-block;
        padding-top: 3px;
        margin-left: 5px;
        height: 20px;
        line-height: 20px; }
    /* line 423, ../sass/partials/_modules.scss */
    .unicorn ul.insults li.hidden {
      display: none; }
  /* line 427, ../sass/partials/_modules.scss */
  .unicorn a {
    overflow: hidden;
    text-indent: -9000px;
    display: block;
    height: 210px;
    width: 210px;
    margin: 10px auto 30px auto;
    background: url("../images/unicorn.png") no-repeat; }

/* line 436, ../sass/partials/_modules.scss */
div.pp_default .ppt {
  display: none !important; }
/* line 439, ../sass/partials/_modules.scss */
div.pp_default .pp_top, div.pp_default .pp_left, div.pp_default .pp_right, div.pp_default .pp_middle, div.pp_default .pp_bottom {
  background: none !important; }
/* line 442, ../sass/partials/_modules.scss */
div.pp_default .pp_content_container {
  background: none; }
  /* line 444, ../sass/partials/_modules.scss */
  div.pp_default .pp_content_container .pp_content {
    background: none; }
  /* line 448, ../sass/partials/_modules.scss */
  div.pp_default .pp_content_container .pp_details {
    display: none; }

/* line 453, ../sass/partials/_modules.scss */
.coming-soon {
  width: 400px;
  text-align: center;
  background: white;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  padding: 20px; }

/* line 460, ../sass/partials/_modules.scss */
.hidden {
  display: none; }
